@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-container {
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 5;
}

.close {
  display: none;
}

.open {
  display: block;
}

.cart-modal {
  display: none;
}

.cart-container {
  background-color: white;
  color: black;
}

.footer-container {
  position: inherit;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.categories {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.logo {
  color: black;
}

.product-grid-card {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: 1px solid white;
  z-index: 4;
}

.product-page {
  height: 100vh;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: 1px solid white;
}

@media screen and (max-width: 600px) {
  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    color: white;
    transition: 300ms;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(57, 57, 57, 0.66);
  }

  .expand {
    width: 240px;
  }

  .collapse {
    width: 0;
    overflow: hidden;
  }

  .categories {
    text-shadow: none;
  }
}
